.action-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}

.centerElements {
  text-align: center;
}

.side-by-side-flex {
  display: flex;
  justify-content: space-between;
}

#get-started-desc > li {
  font-weight: bold;
  text-transform: capitalize;
}
