.attributeInactive {
  background: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.attributeInactive:hover {
  cursor: pointer;
  background: #935d8c;
}

.attributeComplete {
  background: lightgreen;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.basicFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2rem;
}

#validationIcons {
  font-size: 2rem;
  margin: 0.2rem;
}

.completedContainer {
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0.2rem;
}
